.ul-wrapper{
  ul {
    list-style: none;
     .drag-move {
      transition: transform 0.3s;
    }
     .list-item {
      cursor: move;
      width: 200px;
      background: black;
      border-radius: 4px;
      color: #FFF;
      margin-bottom: 6px;
      height: 50px;
      line-height: 50px;
      text-align: center;
    }
  }
}

